/.vs
/Properties
/bin
/obj
/libraries
*.sln
.DS_Store
xcuserdata/
*.xcuserdatad/
*.xcscmblueprint
*.xccheckout
*.bundle
/Supplier/Podfile.lock
/Supplier/Debug-iphonesimulator
/Supplier/Release-iphonesimulator
/Supplier/Debug-iphoneos
/Supplier/Release-iphoneos
/Supplier/Pods
